NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

SOLAPI_API_KEY=
SOLAPI_API_SECRET=
SOLAPI_SENDER=

AWS_REGION=ap-northeast-2
AWS_SES_FROM=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

ADMIN_ID=admin
ADMIN_PASSWORD=1234
